html {
  margin: 0;
  padding: 0;
  background-color: #1E1C26;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

#svgContainer {
  background-color: #1E1C26;
  position: absolute;
  margin: auto;
}
button {
  background-color: #000000 ;
}